In [40]:
import pandas as pd

In [41]:
Data1 = pd.read_csv("Cars.csv")

In [42]:
Data1

     HP        MPG  VOL          SP         WT
0    49  53.700681   89  104.185353  28.762059
1    55  50.013401   92  105.461264  30.466833
2    55  50.013401   92  105.461264  30.193597
3    70  45.696322   92  113.461264  30.632114
4    53  50.504232   92  104.461264  29.889149
..  ...        ...  ...         ...        ...
76  322  36.900000   50  169.598513  16.132947
77  238  19.197888  115  150.576579  37.923113
78  263  34.000000   50  151.598513  15.769625
79  295  19.833733  119  167.944460  39.423099
80  236  12.101263  107  139.840817  34.948615

[81 rows x 5 columns]

In [43]:
import numpy as np
from scipy import stats
from scipy.stats import norm

In [59]:
# Average / Mean MPG
A = Data1.MPG.mean()

In [45]:
A

34.422075728024666

In [61]:
# Standard Deviation For MPG
B = Data1.MPG.std()

In [47]:
B

9.131444731795982

In [56]:
# Probability for MPG>38
1-stats.norm.cdf(38,A,B)

0.3475939251582705

In [57]:
# Probability for MPG<40
stats.norm.cdf(40,A,B)

0.7293498762151616

In [58]:
# Probability for 20<MPG<50
stats.norm.cdf(50,A,B)-stats.norm.cdf(20,A,B)

0.8988689169682046